OBJS=\
$(ARCH_DIR)/vga/tty.o \
$(ARCH_DIR)/boot/multiboot.o \
$(ARCH_DIR)/kernel.o \
$(ARCH_DIR)/sys/stdio.o \
$(ARCH_DIR)/memory/gdt.o \
$(ARCH_DIR)/memory/idt.o \
$(ARCH_DIR)/memory/exceptions.o \
$(ARCH_DIR)/memory/memory.o \
$(ARCH_DIR)/memory/paging.o \
$(ARCH_DIR)/memory/pic.o \
$(ARCH_DIR)/memory/pit.o \
$(ARCH_DIR)/memory/malloc.o \
$(ARCH_DIR)/drivers/keyboard.o